body{
  font-family: segoe UI light;
}
.meals{
  
  width: 90%;
  margin: auto;

}
.meal{

  width: 25%;
  float: left;
  text-align: center;
  margin-top: 10px;

}
.border {
  width: 100px;
  height: 3px;
  background: rgb(177, 177, 132);
  margin: auto;

}
p {
  

  padding: 0px 20px;

}
.clearfix{
  clear: both;
}
.meal img {
  border-radius: 50%;
  border: solid 3px #bcbddc;
  width: 90%;
}
