body{
  font-family: segoe UI light;
  background: linear-gradient(rgba(0, 128, 128, 0.8),rgba(0, 128, 128, 0.8)), url(../images/universal.jpg);
  
}
  
.meals{
  
  width: 90%;
  margin: auto;
  
}
  


.meal{

  width: 25%;
  float: left;
  text-align: center;
  margin-top: 10px;

}
.border {
  width: 100px;
  height: 3px;
  background: yellow;
  margin: auto;
  

}
p {
  color: rgba(255,255,255,100); 

  padding: 0px 20px;

}
h2 {
  color: #FDFEFE ;
}
.clearfix{
  clear: both;
}
.meal img {
  border-radius: 50%;

  width: 90%;
}
